@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/sawarabimincho.css);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min);
*{
    font-family: 'Sawarabi Mincho', sans-serif; 
} body { 
    line-height: 170%;
    background: lightyellow;  
} a { 
    color: navy;
    text-decoration: none; 
} ul {
    padding-left: 1.5em;
} H1 {
    font-size: 1.5em;
    display:inline;
    background: linear-gradient(transparent 70%, khaki 30%);
} .wrap {
    margin-top: 0;
    margin-bottom:0.7em; 
} .memo {
    position: relative;
    background: #99CC99;
    box-shadow: 0px 0px 0px 5px #99CC99;
    border: dashed 1px white;
    padding: 0.1em 0.5em;
    margin:0 2em;
    color: #454545;
} .memo:after {
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    background: #6FCD9F;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: white lightyellow white;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
} .xx {
    margin: 1em 0.75em;
    padding: 1.5em;
    background-color: #fffafa; 
    box-shadow: 0 0 5px 5px #ffffaa, 0 0 5px 5px #ffffaa inset; 
    border-radius: 10px;
}
