@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/sawarabimincho.css);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min);
* { 
    color: ivory;
    font-family: 'Sawarabi Mincho', sans-serif; 
    background: #222; 
    border-color:transparent; }
a { 
    text-decoration: none; }
p {
    padding: 0 1em;
    line-height: 180%; }
#dot {
    margin: 1.25 0em;
    padding: 0.25 0.75em; 
    border-left:6px khaki solid; } 
h1 {
    font-size: 1.25em; 
    position: relative;
    display: inline-block;
    padding: 0 45px;}
h1:before, h1:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 44px;
    height: 2px;
    background-color: ivory; 
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);}
h1:before {
    left:0; }
h1:after {
    right: 0; }
blockquote {
    position: relative; 
    margin:5 6 10 6px;
    padding: 10px 10px 10px 40px; 
    box-sizing: border-box; 
    font-style: italic; 
    background: #EEE; 
    color: #888; }
blockquote:before {
    display: inline-block; 
    position: absolute; 
    top: 12px; 
    left: 10px; 
    content: "\f10d"; 
    font-family: FontAwesome;
    color: #222;
    font-size: 20px; 
    line-height: 1; 
    font-weight: 900; } 
blockquote p { 
    font-weight: normal; 
    padding: 0;
    margin: 12px 0; 
    line-height: 1.7; } 
blockquote cite { 
    padding:2 0 0 0px; 
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em; 
    font-weight:normal; }
#spr {
    position: relative; 
    margin: -0.5em auto; 
    margin-right:30px; 
    margin-left:30px; 
    padding: 15 15 12 15px; 
    color: #333; 
    font-size:10px; 
    font-weight:normal;
    background-color: palegreen; 
    transform: rotate( 1.5deg ); 
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.32); } 
#spr:before { 
    position: absolute; 
    top: -1em; 
    left: 40%;
    height: 20px; 
    width: 55px;
    content: ""; 
    border: 1px solid #ccc; 
    background-color: #ccc; 
    opacity: 0.3;
    transform: rotate( -5deg ); }
