@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/sawarabimincho.css);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min);
* { 
    font-family: 'Sawarabi Mincho', sans-serif; 
    line-height: 170%;
    background: lightyellow;  
} a { 
    color: navy;
    text-decoration: none; 
} h2 {
  position: relative;
  padding: 0 .4em .1em;
} h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 100%;
  height: 10px;
  background-color: #b6f0fc;
} #spr {
    position: relative; 
    margin: -0.5em auto; 
    margin-right:30px; 
    margin-left:30px; 
    padding: 15 15 12 15px; 
    color: #333; 
    font-size:10px; 
    font-weight:normal;
    background-color: lightskyblue; 
    transform: rotate( 1.5deg ); 
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.32); 
} #spr:before { 
    position: absolute; 
    top: -1em; 
    left: 40%;
    height: 20px; 
    width: 55px;
    content: ""; 
    border: 1px solid #ccc; 
    background-color: #ccc; 
    opacity: 0.3;
    transform: rotate( -5deg ); 
}
